.card {
  width: 340px;
  min-height: 250px;
  max-height: 250px;
  border-radius: 8px;
  box-shadow: 0 20px 20px -10px rgba(0, 60, 80, 0.3);
  text-align: left;
  /* padding: 0 30px; */
  display: flex;
  flex-direction: column;
  border-top-width: 3px;
  border-top-style: solid;
}

.red {
  border-top: 3px solid var(--primary-red);
}

.card h3,
.card p {
  margin-left: 30px;
}

.card h3 {
  margin-top: 30px;
}

.card p {
  font-size: 14px;
}

.card div:last-child {
  display: flex;
  justify-content: flex-end;
}

.card div:last-child img {
  margin-right: 30px;
  margin-top: 10px;
}

@media (max-width: 375px) {
  .card {
    width: 85%;
    margin: 20px;
  }

  .card p {
    margin-left: 0;
  }
}
